<a href="https://colab.research.google.com/github/EvilMorty13/Python-Learning-BS/blob/main/Chapter_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# All Built-In Python Functions

# abs()
Takes the absolute value

In [ ]:
num = -10
print(abs(num))

10

#all()
Checks if all items are true

In [ ]:
my_list = [True,True,False,True]
print(all(my_list))

False

# any()
Checks if any item are true

In [ ]:
my_list = [False,False,False,False]
print(any(my_list))

False

#ascii()
Converts text/numbers/symbols/anything to ASCII

In [ ]:
string = "শুভ সকাল"
print(ascii(string))

'\u09b6\u09c1\u09ad \u09b8\u0995\u09be\u09b2'

#bin()
Converts numbers to binary format

In [ ]:
num = 15
print(bin(15))

0b1111

#bool()
Results in a True value,unless the following is used: 0,False,None or an empty object like(),{},[]

In [ ]:
num = 0
print(bool(num))

False

# breakpoint()
Enables more visibility on what is happening behind the scenes when your code is running

In [ ]:
def func():
  x = 5
  breakpoint()
  y = 10
  return x+y

func()

> <ipython-input-8-909559cb7301>(4)func()
      2   x = 5
      3   breakpoint()
----> 4   y = 10
      5   return x+y
      6

--KeyboardInterrupt--

KeyboardInterrupt: Interrupted by user

15

## bytearray()
Converts objects to bytearray objects

In [ ]:
my_list = [65,66,67]
print(bytearray(my_list))

bytearray(b'ABC')

##bytes()
Converts objects to byte objects
Unlike bytesarray, bytes object can't be modified

In [ ]:
my_list = [65,66,67]
print(bytes(my_list))

b'ABC'

## callable()
Returns True or False if an object in callable

In [ ]:
def func():
  return 42

callable(func())

False

## chr()
Returns the unicode value

In [ ]:
num = 65
print(chr(num))

A

##classmethod( )
Changes a method to a class method

In [ ]:
class MyClass:
    class_var = "hello there"

    @classmethod
    def class_method(cls):
        return cls.class_var
result = MyClass.class_method()
print(result)

hello there

##compile( )
Compiles what you type and then executes it

In [ ]:
code_str = "print('Hello world')"
print_obj = compile(code_str,"<string>","exec")
exec(print_obj)

Hello world

##complex()
Complex numbers in mathematics involve real and imaginary parts. Using the complex method in Python we can get a complex number if we telll python what the real and imaginary numbers.

In [ ]:
real_part = 3.0
imag_part = 4.0

print(complex(real_part,imag_part))

(3+4j)

## dict()
Creates a dictionary(contains data that is in any order,can be changed and indexed)

In [ ]:
dict(a=2,b=4,c=5)

{'a': 2, 'b': 4, 'c': 5}

##dir( )
Shows the contents and what you can do with an objects(which method you can use, etc)

In [ ]:
my_str = "This is a string"
dir(my_str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

##divmod( )
Provides the result of a division and the reminder

In [ ]:
print(20,6)

20 6

##enumerate( )
Provides us with the index and the value of a list

In [ ]:
my_list = ["Apple","Microsoft","Google"]

for index,company in enumerate(my_list):
  print(index,company)

0 Apple
1 Microsoft
2 Google

## eval( )
Interprets and runs the code if the Python code is valid(without errors)

In [ ]:
user_input = "3+7"
print(eval(user_input))

10

##exec( )
Similar to the eval function(which executes code,if valid) exec allows us to run code on many lines

In [ ]:
code_str="""
def greet(name):
  print("Hello "+name)

greet("Maria")
"""
exec(code_str)

Hello Maria

##filter( )
Filters a list(can be easier than creating loops)

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,10]

def is_even(x):
  return x%2==0

list(filter(is_even,my_list))

[2, 4, 6, 8, 10]

##float()
Coverts a number into a floating number

In [ ]:
num = 10
print(float(num))

10.0

##format( )
A faster way to format data in a more readable way

In [ ]:
name = "Alex"
age = 40

print("My name is {} and I am {} years old".format(name,age))

My name is Alex and I am 40 years old

##frozenset()
Allows us to create a set that we can't change

In [ ]:
frozenset([1,2,3,4,5,6,1,2])

frozenset({1, 2, 3, 4, 5, 6})

## hash()
Provides hash value of an object

In [ ]:
var = "This is a string"
print(var)
print(hash(var))

This is a string
-87096780702200969

##help( )
Quick and easy way to get instant help when coding

In [ ]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

##hex( )
Converts to hexadecimal

In [ ]:
num = 140
print(hex(num))

0x8c

##id()
Provides the ID of an object

In [ ]:
x = 55
y = x
print(id(x))
print(id(y))

134327495788464
134327495788464

##input()
Lets the user enter an input

In [ ]:
age = input("Enter your age : ")
print(f"Your age is :",age)

Enter your age : 20
Your age is : 20

##int()
Sets the data type of an item to integer

In [ ]:
num = 2.7
print(int(num))

2

##isinstance()
Checks to see if an object is an instance of an object (if true, results in true)

In [ ]:
isinstance(50,int)

True

##issubclass()
If a class is a subclass of an object(meaning a child of a parent class) then issubclass is ture

In [ ]:
class Parent:
  pass

class Child(Parent):
  pass

issubclass(Child,Parent)

True

##iter()
Provides the iterator object

In [ ]:
my_list = [1,2,3,4]
my_iter = iter(my_list)

for item in my_iter:
  print(item)

1
2
3
4

##len()
Provides the length of of an item

In [ ]:
my_list = [12,23,5,43,66]

print(len(my_list))

5

##list()
Creats a list object

In [ ]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

##map()
Provides us with the iterator specified of a function applied to items in the list

In [ ]:
def square(x):
  return x**2

my_list = [1,2,3,4,5]

list(map(square,my_list))

[1, 4, 9, 16, 25]

##max()
Provides the maximum number in a list

In [ ]:
my_list = [12,34,5,12,44,66,34]

print(max(my_list))

66

##min()
Provides the minimum number in a list

In [ ]:
my_list = [12,34,5,12,44,66,34]

print(min(my_list))

5

##next()
Next function in Python retrieves the
next item from an iterator and advances the iterator by one
position.

In [ ]:
my_list = [1,2,3,4]
my_iter = iter(my_list)

next(my_iter)

1

In [ ]:
next(my_iter)

2

##oct()
Converts a number into an octal number

In [ ]:
num = 19
print(oct(num))

0o23

##open()
Opens a file,which we can select as read only

In [ ]:
exm ="example.txt"

with open(exm,"r")as f:
  print(f.read())

This is an example file

##ord()
Finds a Unicode code for a charater

In [ ]:
char = "A"
ord(char)

65

##pow()
To get the power of one number to the other

In [ ]:
print(pow(2,3))

8

##print()
Prints the user the output

In [ ]:
print("Hello world")

Hello world

##range()
Provides us with a sequence often starting with 0 and increased by increments of 1

In [ ]:
list(range(1,20,3))

[1, 4, 7, 10, 13, 16, 19]

##repr()
Similar to str, but provides us with more detail on a value, used for debugging purposes

In [ ]:
text ="Hello world"
repr(text)

"'Hello world'"

##reversed()
Reversed the order of a list(applies to string,tuples and most iterables)

In [ ]:
my_list = [1,2,3,4,5]
print(list(reversed(my_list)))

[5, 4, 3, 2, 1]

##round()
Rounds a number to the specified number of decimal points

In [ ]:
num = 10.6
print(round(num))

11

##set()
A way to create a list that has unique elements

In [ ]:
my_list =[1,2,2,3,1,3,4,5,6,7]
set(my_list)

{1, 2, 3, 4, 5, 6, 7}

##slice()
Provides part of a data set

In [ ]:
my_list = [1,2,3,4,5,6]
my_slice = slice(1,3)

my_list[my_slice]

[2, 3]

##sorted()
Simple way to sort a list

In [ ]:
my_list = [34,52,23,56,12,34]
print(sorted(my_list))

[12, 23, 34, 34, 52, 56]

##str()
Converts the item to a string

In [ ]:
num = 123
num = str(num)
print(type(num))

<class 'str'>

##sum()
Add the elements together in a numerical list

In [ ]:
my_list = [3,4,5,1,5,12]
print(sum(my_list))

30

##tuple()
Similar to a list, but you can't add more elements to it

In [ ]:
tuple([1,23,4,5,6,77])

(1, 23, 4, 5, 6, 77)

##type()
Describes the type of an object.

In [ ]:
num = 12
string = "hello"
print(type(num))
print(type(string))

<class 'int'>
<class 'str'>

##zip()
Zip function in Python combines
elements from multiple iterables into tuples, creating a zip object
of paired elements.

In [ ]:
names = ["Suarez", "Messi", "Neymar"]
goals = [500, 900, 700]
list(zip(names,goals))

[('Suarez', 500), ('Messi', 900), ('Neymar', 700)]