<a href="https://colab.research.google.com/github/EvilMorty13/Python-Learning-BS/blob/main/Chapter_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Excercise 3.1

ahsoka = 1.7
yoda = 0.66
r2d2 = 1.09
c3p0 = 1.75

avg_height = (ahsoka+yoda+r2d2+c3p0)/4

print(avg_height)

1.3

In [8]:
name = "yoda"
print("Your name is "+name)
height = 0.66
age = 900

print("Name, height and age is "+name+" "+str(height)+" "+str(age))

Your name is yoda
Name, height and age is yoda 0.66 900

In [13]:
#Excercise 3.2

name1 = "Jack"
name2 = "Rose"
year = 1912


print(name1+" and "+name2+" were on the titanic in "+str(year))

Jack and Rose were on the titanic in 1912

In [18]:
#Excercise 3 final

principal = 1000
rate = 5
time = 2

interest = (principal*rate*time)/100


print("The principal is "+str(principal)+ " , the rate is "+str(rate)+" , the time is "+str(time)+" ,the interest is "+str(interest))

The principal is 1000 , the rate is 5 , the time is 2 ,the interest is 100.0