<a href="https://colab.research.google.com/github/EvilMorty13/Python-Learning-BS/blob/main/Chapter_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## If-Else

In [ ]:
name = input("Name of the star wars character? : ")
jedi_test = input("Is the character holding a lightsaver? : ")

if jedi_test == "Yes":
  print(name+" is a jedi")
else:
  print(name+" is not a jedi")

Name of the star wars character? : Yoda
Is the character holding a lightsaver? : Yes
Yoda is a jedi

## Exercise 6.1

In [ ]:
answer = input("Is Rose holding a lightsaber ? : ")

if answer=="Yes":
  print("Yes")
else:
  print("No")

Is Rose holding a lightsaber ? : Yes
Yes

## Exercise 6.2 (Nested Loop)

In [ ]:
ques1 = input("Is the charater holding a lightsaber ? : ")

if ques1=="Yes":
  ques2 = input("Is the lightsaber green? : ")
  if ques2=="Yes":
    print("The character is Yoda")
  else:
    print("The character is not Yoda")
else:
  print("The character is not Yoda")

Is the charater holding a lightsaber ? : Yes
Is the lightsaber green? : Yes
The character is Yoda

## Elif in loops

In [ ]:
army_size = input("How many soldiers are in the army? (100,200,300) ? : ")

if army_size == "100":
  print("The army of 100 will beat army of 200 & 300")
elif army_size == "200":
  print("The army of 200 will beat army of 100 but will lose to 300")
elif army_size == "300":
  print("The army of 300 will beat everone")
else:
  print("Please enter only 100,200 or 300")

How many soldiers are in the army? (100,200,300) ? : 100
The army of 100 will beat army of 200 & 300

## Exercise 6.3 (Part 1 & 2)

In [ ]:
team = input("Enter team number : ")

if team=="1":
  print("You picked team 1, which has 1 character, which is Yoda")
elif team=="2":
  print("You picked team 2, which has 2 characters, Jack & Rose")
elif team=="3":
  print("You picked team 3, which has 2 characters, Vader & Leah")


if(team=="1"):
  print("The number of people on the team you selected is odd.")
elif(team=="2" or team=="3"):
  print("The number of people on the team you selected is even.")

Enter team number : 2
You picked team 2, which has 2 characters, Jack & Rose
The number of people on the team you selected is even.

##Match and Case

In [ ]:
good_or_not_good = input("Type good or not good : ")

match good_or_not_good:
  case "good":
    print("Good")
  case "not good":
    print("not good")

Type good or not good : good
Good

## Exercise 6.4

In [ ]:
team = input("Enter team number(1,2,3) : ")

match team:
  case "1":
    print("You selected Team 1")
  case "2":
    print("You selected Team 2")
  case "3":
    print("You selected Team 3")

Enter team number(1,2,3) : 2
You selected Team 2

##Formatting

In [ ]:
name = input("What is your name? \n")

What is your name?
Alex

In [ ]:
ticket = input("What class ticket do you want to buy? select 1 or 3\n")
print(f"You selected class number {ticket}")

if ticket =="1":
  price=1000
else:
  price=200

print(f"The price is {price:.2f} pounds")

What class ticket do you want to buy? select 1 or 3
1
You selected class number 1
The price is 1000.00 pounds

## Exercise 6.5

In [ ]:
first = float(input("How many first class tickets you want to purchase? : "))
second = float(input("How many 2nd class tickets you want to purchase? : "))
third = float(input("How many 3rd class tickets you want to purchase? : "))

total_price = (first*870)+(second*100.42)+(third*7)

print(f"Total price is {total_price:.2f}")

How many first class tickets you want to purchase? : 1
How many 2nd class tickets you want to purchase? : 1
How many 3rd class tickets you want to purchase? : 1
Total price is 977.42

##Slicing

In [ ]:
full_name = "James Bond"
first_name = full_name[0:5]
last_name = full_name[6:10]
print(f"The name is {first_name} {last_name}")

The name is James Bond

##Exercise 6.6

In [ ]:
name = "Titanic"

print(name[6])
print(name[6:])
print(name[-1])

c
c
c

##Exercise 6.7 For Loop

In [37]:
child = ["Leia", "Luka"]

for l in child:
  print(f"{l} am your father")

Leia am your father
Luka am your father

## Exercise 6.8 While Loop

In [39]:
titanic = 1912;

while titanic<=1984:
  print(f"The year is {titanic} and nobody has found the Titanic yet")
  titanic+=1

The year is 1912 and nobody has found the Titanic yet
The year is 1913 and nobody has found the Titanic yet
The year is 1914 and nobody has found the Titanic yet
The year is 1915 and nobody has found the Titanic yet
The year is 1916 and nobody has found the Titanic yet
The year is 1917 and nobody has found the Titanic yet
The year is 1918 and nobody has found the Titanic yet
The year is 1919 and nobody has found the Titanic yet
The year is 1920 and nobody has found the Titanic yet
The year is 1921 and nobody has found the Titanic yet
The year is 1922 and nobody has found the Titanic yet
The year is 1923 and nobody has found the Titanic yet
The year is 1924 and nobody has found the Titanic yet
The year is 1925 and nobody has found the Titanic yet
The year is 1926 and nobody has found the Titanic yet
The year is 1927 and nobody has found the Titanic yet
The year is 1928 and nobody has found the Titanic yet
The year is 1929 and nobody has found the Titanic yet
The year is 1930 and nobody has found the Titanic yet
The year is 1931 and nobody has found the Titanic yet
The year is 1932 and nobody has found the Titanic yet
The year is 1933 and nobody has found the Titanic yet
The year is 1934 and nobody has found the Titanic yet
The year is 1935 and nobody has found the Titanic yet
The year is 1936 and nobody has found the Titanic yet
The year is 1937 and nobody has found the Titanic yet
The year is 1938 and nobody has found the Titanic yet
The year is 1939 and nobody has found the Titanic yet
The year is 1940 and nobody has found the Titanic yet
The year is 1941 and nobody has found the Titanic yet
The year is 1942 and nobody has found the Titanic yet
The year is 1943 and nobody has found the Titanic yet
The year is 1944 and nobody has found the Titanic yet
The year is 1945 and nobody has found the Titanic yet
The year is 1946 and nobody has found the Titanic yet
The year is 1947 and nobody has found the Titanic yet
The year is 1948 and nobody has found the Titanic yet
The year is 1949 and nobody has found the Titanic yet
The year is 1950 and nobody has found the Titanic yet
The year is 1951 and nobody has found the Titanic yet
The year is 1952 and nobody has found the Titanic yet
The year is 1953 and nobody has found the Titanic yet
The year is 1954 and nobody has found the Titanic yet
The year is 1955 and nobody has found the Titanic yet
The year is 1956 and nobody has found the Titanic yet
The year is 1957 and nobody has found the Titanic yet
The year is 1958 and nobody has found the Titanic yet
The year is 1959 and nobody has found the Titanic yet
The year is 1960 and nobody has found the Titanic yet
The year is 1961 and nobody has found the Titanic yet
The year is 1962 and nobody has found the Titanic yet
The year is 1963 and nobody has found the Titanic yet
The year is 1964 and nobody has found the Titanic yet
The year is 1965 and nobody has found the Titanic yet
The year is 1966 and nobody has found the Titanic yet
The year is 1967 and nobody has found the Titanic yet
The year is 1968 and nobody has found the Titanic yet
The year is 1969 and nobody has found the Titanic yet
The year is 1970 and nobody has found the Titanic yet
The year is 1971 and nobody has found the Titanic yet
The year is 1972 and nobody has found the Titanic yet
The year is 1973 and nobody has found the Titanic yet
The year is 1974 and nobody has found the Titanic yet
The year is 1975 and nobody has found the Titanic yet
The year is 1976 and nobody has found the Titanic yet
The year is 1977 and nobody has found the Titanic yet
The year is 1978 and nobody has found the Titanic yet
The year is 1979 and nobody has found the Titanic yet
The year is 1980 and nobody has found the Titanic yet
The year is 1981 and nobody has found the Titanic yet
The year is 1982 and nobody has found the Titanic yet
The year is 1983 and nobody has found the Titanic yet
The year is 1984 and nobody has found the Titanic yet

##Exercise 6 final exercise

In [59]:
tasks=["Planning","Design","Coding","Testing"]
time_spent=[0,0,0,0]

def log_time(task_name,time):
  if task_name=="Planning":
    time_spent[0]+=time
  elif task_name=="Design":
    time_spent[1]+=time
  elif task_name=="Coding":
    time_spent[2]+=time
  elif task_name=="Testing":
    time_spent[3]+=time


flag = True;

while flag==True:
  task = input("Enter task name(Planning,Design,Coding,Testing) or type Exit : ")
  if task=="Exit":
    break
  elif task=="Planning" or task=="Design" or task=="Coding" or task=="Testing":
    time = float(input("Enter time spent on this task : "))
    log_time(task,time)
  else:
    print("Invalid Input , please try again")


for i in range(len(tasks)):
  print(f"{tasks[i]} : {time_spent[i]} hours")

Enter task name(Planning,Design,Coding,Testing) or type Exit : Planning
Enter time spent on this task : 4
Enter task name(Planning,Design,Coding,Testing) or type Exit : Planning
Enter time spent on this task : 3
Enter task name(Planning,Design,Coding,Testing) or type Exit : Design
Enter time spent on this task : 3
Enter task name(Planning,Design,Coding,Testing) or type Exit : Design
Enter time spent on this task : 5
Enter task name(Planning,Design,Coding,Testing) or type Exit : Coding
Enter time spent on this task : 6
Enter task name(Planning,Design,Coding,Testing) or type Exit : Coding
Enter time spent on this task : 8
Enter task name(Planning,Design,Coding,Testing) or type Exit : Testing
Enter time spent on this task : 2
Enter task name(Planning,Design,Coding,Testing) or type Exit : Testing
Enter time spent on this task : 3
Enter task name(Planning,Design,Coding,Testing) or type Exit : Support
Invalid Input , please try again
Enter task name(Planning,Design,Coding,Testing) or type Exit : Exit
Planning : 7.0 hours
Design : 8.0 hours
Coding : 14.0 hours
Testing : 5.0 hours