<a href="https://colab.research.google.com/github/EvilMorty13/Python-Learning-BS/blob/main/Chapter_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a = 1
b = 2
c = 3

minimum_value = min(a,b,c)

print(minimum_value)

maximum_value = max(a,b,c)

print(maximum_value)

1
3

In [5]:
a,b,c = 1,2.3,4
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'int'>

In [6]:
a = -7.6
a = abs(a)
print (a)

7.6

In [11]:
#Exercise 4.1

ahsoka = 1.7
toda = 0.66
r2d2 = 1.09

avg_height = (ahsoka+toda+r2d2)/3
max_height = max(ahsoka,toda,r2d2)
min_height = min(ahsoka,toda,r2d2)

print("Avarage height : "+str(avg_height)+" , Max Height : "+str(max_height)+" , Min Height : "+str(min_height))

Avarage height : 1.1500000000000001 , Max Height : 1.7 , Min Height : 0.66

In [17]:
name = input("What is your name? : ")
height = input("What is your height? : ")
age = input("What is your age? : ")

print("Your name,height and age is "+name+" , "+height+" , "+age)

What is your name? : Yoda
What is your height? : 3 feet
What is your age? : 700
Your name,height and age is Yoda , 3 feet , 700

In [18]:
# Exercise 4.2

name = input("What is your name? : ")
age = input("What is your age? : ")

print("Your name is "+name+" and your age is "+age)

What is your name? : Alex
What is your age? : 35
Your name is Alex and your age is 35

In [20]:
def your_name_function():
  your_name = input("What is your name? ")
  print("Your nane us "+your_name)

your_name_function()

What is your name? Alex
Your nane us Alex

In [21]:
def age_of_rey():
  age = input("How old is Rey? : ")
  print("Rays age is "+age)

age_of_rey()

How old is Rey? : 19
Rays age is 19

In [23]:
name = input("What is his name ? ")
age = int(input("What is "+name+"'s age ?"))

def age_in_one_year(name,age):
  age_next_year = age+1
  print("In one year,"+name+" will be "+str(age_next_year)+" years old")

age_in_one_year(name,age)

What is his name ? Mandolorian
What is Mandolorian's age ?40
In one year,Mandolorian will be 41 years old

In [25]:
# Exercise 4.4

name = input("Who was on the Titanic ? : ")
curr_year = int(input("What year it is now? : "))


def titanic(name,curr_year):
  time = curr_year - 1912
  print(name+" were on the titanic,which sunk "+str(time)+" years ago")

titanic(name,curr_year)

Who was on the Titanic ? : Jack & Rose
What year it is now? : 2024
Jack & Rose were on the titanic,which sunk 112 years ago

In [26]:
def your_name(name="Yoda"):
  print("My name is "+name)

your_name("Darth Vader")
your_name("Anakin")
your_name()

My name is Darth Vader
My name is Anakin
My name is Yoda

In [28]:
# Exercise 4.5

def my_age(age=19):
  print("My age is "+str(age))

my_age(39)
my_age()

My age is 39
My age is 19

In [30]:
def celsius_to_fahrenheit(temp):
  return ((9/5)*temp)+32

celsius_to_fahrenheit(30)

86.0

In [45]:
# Exercise 4 Final

first_number = float(input("Enter first number : "))
second_number = float(input("Enter second number : "))

operator = input("Enter an operator (+,-,*,/) : ")


def addition(first_number,second_number):
  return first_number+second_number
def subtraction(first_number,second_number):
  return first_number-second_number
def multiplication(first_number,second_number):
  return first_number*second_number
def division(first_number,second_number):
  return first_number/second_number

if operator=="+":
  print(addition(first_number,second_number))
elif operator=="-":
  print(subtraction(first_number,second_number))
elif operator=="*":
  print(multiplication(first_number,second_number))
elif operator=="/":
  print(division(first_number,second_number))
else:
  print("Invalid operator")

Enter first number : 20
Enter second number : 2
Enter an operator (+,-,*,/) : /
10.0