<a href="https://colab.research.google.com/github/EvilMorty13/Python-Learning-BS/blob/main/Chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
name = "Mr. Skywalker"
age = 44
print(name)
print(age)
type(name)

Mr. Skywalker
44

str

In [5]:
#Exercise 2.1

name = str("Darth Vader")
print(name)
age = int(19)
print(age)

Darth Vader
19

In [6]:
pi = 3.14
print(pi)
type(pi)

3.14

float

In [7]:
bool_example = True
print(bool_example)
type(bool_example)

True

bool

In [8]:
#Exercise 2.2

i_cannot_do_it = False

print(i_cannot_do_it)

the_answer = 42.01
print(the_answer)

False
42.01

In [10]:
name = "Darth Vader"
print(name)

name = str("Mr.Skywaler")
print(name)

Darth Vader
Mr.Skywaler

In [12]:
age = int("100")
type(age)

int

In [13]:
print(int(3.44))

3

In [15]:
#Exercise 2.3

height = str("1.09")
print(height)
height = float(height)
height = height+0.66
print(height)

1.09
1.75

In [17]:
#Exercise 2 final

usd_amount = 100
exchange_rate = 0.85

eur_amount = usd_amount*exchange_rate

eur_amount = int(eur_amount)

print(eur_amount)

85