<a href="https://colab.research.google.com/github/EvilMorty13/Python-Learning-BS/blob/main/Chapter_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List Vs Tuple

In [2]:
list1 = [1,2,3,4]

print(list1[3])

list1[3] = 10

print(list1)
# List is mutable

tuple1 = (1,2,3,4)

print(tuple1[3])

tuple1[3] = 10

print(tuple1)

# Tuple is immutable

4
[1, 2, 3, 10]
4

TypeError: 'tuple' object does not support item assignment

## Exercise 7.1 Tuples

In [6]:
starting_tuple = ("Yoda"," Han Solo","R2D2","C3P0")

list1 = list(starting_tuple)

list1.append("Darth Vader")

ending_tuple = tuple(list1)

print(ending_tuple)

('Yoda', ' Han Solo', 'R2D2', 'C3P0', 'Darth Vader')

## Dictionaries

In [17]:
user = {"name":"Luka","email":"luka@gmail.com","number":12343254,
        "address":{"st_name":"Groove St","City":"New York","State":"Alaska"}}

print(user)

user["job"]="Hr"

print(user)

user.get("name")



for key in user.keys():
  print(key,user[key])

{'name': 'Luka', 'email': 'luka@gmail.com', 'number': 12343254, 'address': {'st_name': 'Groove St', 'City': 'New York', 'State': 'Alaska'}}
{'name': 'Luka', 'email': 'luka@gmail.com', 'number': 12343254, 'address': {'st_name': 'Groove St', 'City': 'New York', 'State': 'Alaska'}, 'job': 'Hr'}
name Luka
email luka@gmail.com
number 12343254
address {'st_name': 'Groove St', 'City': 'New York', 'State': 'Alaska'}
job Hr

##Exercise 7.2 Dictionaries

In [18]:
allegiances = {"Luke Skywalker":"Rebel Alliance","Darth Vader":"Galatic Empire","Obi wan Kenobi":"Jedi Order"}

print(allegiances["Darth Vader"])

allegiances["Darth Vader"]= "Sith Order"

allegiances["Leia"] = "Rebel Alliance"

for key,value in allegiances.items():
  print(key,value)

Galatic Empire
Luke Skywalker Rebel Alliance
Darth Vader Sith Order
Obi wan Kenobi Jedi Order
Leia Rebel Alliance

## Set

In [25]:
list1 = [1,2,3,3,1,2]
list2={1,2,3,10,20,30}
set1 = set(list1)

print(set1)

# Set doesn't contain duplicates

set1.add(4)
print(set1)

print(set1.difference(list2))
print(set1.intersection(list2))
print(set1.union(list2))

{1, 2, 3}
{1, 2, 3, 4}
{4}
{1, 2, 3}
{1, 2, 3, 4, 10, 20, 30}

## Exercise 7.3 Sets

In [26]:
storm_troopers_group1 =["trooper_1","trooper_2","trooper_3","trooper_4"]
storm_troopers_group2 =["trooper_5","trooper_2","trooper_34","trooper_46"]

storm_troopers_group1_set = set(storm_troopers_group1)
storm_troopers_group2_set = set(storm_troopers_group2)

storm_troopers_multiples = storm_troopers_group1_set.intersection(storm_troopers_group2_set)

print(storm_troopers_multiples)

{'trooper_2'}

##Level 7 Final Exercise Restaurant Menu Manager

In [48]:
menu = {"Burger":("Main",10.5),"Soup":("Appetizer",5.0),"Ice Cream":("Dessert",3.0),"Salad":("Appetizer",2.0)}

menu["Stake"] = ("Main",15.0)
menu["Soda"] = ("Drinks",1.0)

print(menu)
print()
menu.pop("Soda")
print(menu)
print()

def display_menu(menu):
  for key,value in menu.items():
    print("Dish name :",key,", Dish Type : ",value[0], ", Price : ",value[1])

def count_dish_types(menu):
  dish_count={}
  for key,value in menu.items():
    if value[0] in dish_count:
      dish_count[value[0]]+=1
    else:
      dish_count[value[0]]=0

  for key,value in dish_count.items():
    print("Dish Type : ",key," , Dish Number : ",value)




def update_price(menu,dish_name,new_price):
  if dish_name in menu:
    menu[dish_name]= (menu[dish_name][0],new_price)
  else:
    print("Dish doesn't exist")

display_menu(menu)
print()
count_dish_types(menu)
print()
update_price(menu,"Burger",50)
display_menu(menu)

{'Burger': ('Main', 10.5), 'Soup': ('Appetizer', 5.0), 'Ice Cream': ('Dessert', 3.0), 'Salad': ('Appetizer', 2.0), 'Stake': ('Main', 15.0), 'Soda': ('Drinks', 1.0)}

{'Burger': ('Main', 10.5), 'Soup': ('Appetizer', 5.0), 'Ice Cream': ('Dessert', 3.0), 'Salad': ('Appetizer', 2.0), 'Stake': ('Main', 15.0)}

Dish name : Burger , Dish Type :  Main , Price :  10.5
Dish name : Soup , Dish Type :  Appetizer , Price :  5.0
Dish name : Ice Cream , Dish Type :  Dessert , Price :  3.0
Dish name : Salad , Dish Type :  Appetizer , Price :  2.0
Dish name : Stake , Dish Type :  Main , Price :  15.0

Dish Type :  Main  , Dish Number :  1
Dish Type :  Appetizer  , Dish Number :  1
Dish Type :  Dessert  , Dish Number :  0

Dish name : Burger , Dish Type :  Main , Price :  50
Dish name : Soup , Dish Type :  Appetizer , Price :  5.0
Dish name : Ice Cream , Dish Type :  Dessert , Price :  3.0
Dish name : Salad , Dish Type :  Appetizer , Price :  2.0
Dish name : Stake , Dish Type :  Main , Price :  15.0